/* Responsive table */
.t-responsive {
    max-height:300px;
}

/* Customiser mon tableaux boostrap */
.t_num {
    font-family: monospace;
    font-weight: small;
    width: 1% !important;
    padding: 0 !important;
    margin: 0 !important;
    text-align: center;
}

/* Occuper l'espace restante du tableaux */
table.table-fit {
    width: auto !important;
    table-layout: auto !important;
}

table.table-fit thead th,
table.table-fit tbody td,
table.table-fit tfoot th,
table.table-fit tfoot td {
    width: auto !important;
}

/* Enlever l'icone de tri (ascendant et descendant) ns(no-short) */
.ns::before {
    display: none !important;
}
.ns::after {
    display: none !important;
}
.ns {
    pointer-events: none !important;
    cursor: default !important;
}
